<div class="artists">
    <li>
        <br><br>
        <% @artists.each do |artist| %>
            <div class="cards">
                <%= image_tag('logo.png', style: "width: 100%; justify-content: center;")  %><br>
                <%= artist.name %><br>
            </div>
        <%end%>
    </li>
</div>