<header>
    <div class='container'>
        <nav>
            <div class="navbar-logo">                
                <%= link_to image_tag("logo.png", width:"64px", height:"64px"), "/" %>
                <a href= "/artists/">ARTISTS</a>
                <a href="/forum/">FORUM</a>
            </div>
        </nav>
    </div>
</header>