<header>
    <div class='container'>
        <nav>
            <div class="navbar-logo">                
                <%= link_to image_tag("logo-with-transparency.png", width:"5%", height:"5%", display: 'inline-block', style: 'margin-top: 0.5%'), "/" %>
                <a class="text" href= "/artists/">ARTISTS</a>
                <a class="text" href="/releases/">RELEASES</a>
            </div>
        </nav>
    </div>
</header>